:root {
    --gold-color: #d6a419;
    --header-footer-bg: #171b26;
    --blue-button-hover: #34495e;
    --light-text-color: #7e8894;
    --footer-list-color: #bfc4ce;
    --hero-bg-color: #272d3f;
    --border-divider-color: #d7d7d7;
}

html {
    scrollbar-width: none;
}

/* GLOBAL STYLES */
body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    margin: 0;
}

ul li {
    list-style: none;
    font-size: 1rem;
}

a:hover {
    color: var(--gold-color);
    text-shadow: 0px 0px 15px var(--gold-color);
}

button:hover {
    transform: scale(1.06);
}

button:active {
    transform: scale(0.99);
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: monospace;
    background-color: var(--header-footer-bg);
    color: white;
    padding: 0.5rem 1.75rem 0.5rem 1.75rem;

    .title-container {
        .slashes {
            color: var(--gold-color);
        }

        p {
            display: inline;
            font-size: 1.5em;
        }
    }

    li {
        display: inline;
    }

    .header-nav-container {
        z-index: 999; /* Ensures this stays at the very top.
        Had issues with .curly-braces class conflicting with the buttons */
        a {
            text-decoration: none;
            color: white;
            font-size: 0.9em;
            padding: 10px;
            border-radius: 0.3rem;
        }

        a:hover {
            background-color: #34495e;
            /* For some reason the global style doesn't change this? 
            Have to manually set the color here*/
            color: var(--gold-color);
            transition:
                color 0.35s,
                background-color 0.35s;
            /* box-shadow: 3px 3px 3px var(--gold-color);
            transition:
                color 0.35s,
                box-shadow 0.35s,
                padding 0.35s;
            padding-left: 20px;
            padding-right: 20px; */
        }
    }
}

.site-path {
    border-bottom: 2px solid var(--border-divider-color);
    padding-inline: 1.75rem;
}

.hero {
    display: grid;
    position: relative; /* Makes #hero the positioning context */
    background-color: var(--hero-bg-color);
    color: white;

    h1 {
        font-family: Georgia, serif;
        font-weight: 500;
        text-align: left;
    }

    /*
    This curly braces section gave me a lot more grief than I initially thought.
    A prompt I used to get here was "Help me match my CSS to the provided screenshot."
    So I gave it the screenshot and this entire .hero class.
    This yielded very poor results (prompt wasn't very good anyways). 
    What I ended up doing is using a mix what my prompt output was and what I looked
    up on the Mozilla CSS Docs. Understanding things like z-index, user-select, 
    and position helped me get to this point. 
    */
    .curly-braces {
        position: absolute;                 
        text-align: right;
        white-space: nowrap;
        font-size: 17em;
        /* I feel like this is a janky fix to align the braces to the top but
         * it works so it's gonna stay */
        transform: translateY(-22%);
        z-index: 0; /* Below everything else */
        opacity: 0.15;
        right: -1rem;
        user-select: none; /* Stop user from highlighting. Found on Mozilla
        developer docs by searching "select" when trying to find a solution */
    }

    .hero-content {
        margin: 5em 0 4em 18em;
        width: 30em;
        width: 40%;
    }

    button {
        width: 10em;
        height: 3em;
        color: var(--hero-bg-color);
        font-size: 0.9em;
        background-color: var(--gold-color);
        border: none;
        border-radius: 5px;
    }

    button:active {
        background-color: #af8614;
        transition: background-color 0.05s;
    }

    button:hover {
        box-shadow: 0px 0px 5px var(--gold-color);
    }
}

main {
    background-color: rgb(245, 245, 245);
    padding: 2rem 2rem 0rem 0rem;
    width: 100%;

    h1, p {
        font-size: 1.5em;
        margin-bottom: 2rem;
        padding-left: 2rem;
    }

    .featured-products {
        padding-bottom: 3rem;
        .product-grid {
            display: grid;
            /* auto size 4 columns so they are all even as the browser resizes 
            I considered flexbox like with lab 3 but wanted to learn more about grid
            manipulation.
            After a quick Google: "autowrap grid columns css" I found this Stackoverflow forum: 
            https://stackoverflow.com/questions/43129360/css-grid-wrapping */
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            row-gap: 1rem;
            padding-inline: 1rem;

            .card {
                border: 1px solid lightgray;
                border-radius: 5px;
                margin: 0 auto;
                display: grid;
                grid-template-rows: auto auto 1fr;
                justify-items: center;
                min-width: 24%;
                overflow: hidden; /* This keeps the .decor-banner insie the card */

                .decor-banner {
                    width: 100%;
                    background-color: #2f6f63;
                    border-radius: 0;
                    height: 3px;
                }

                .card-img {
                    display: flex;
                    justify-content: center;
                    padding: 4rem 1.5rem;
                }

                .card-info {
                    background-color: white;
                    padding-inline: 1rem;
                    width: 100%;
                    box-sizing: border-box;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    font-family: sans-serif;

                    p {
                        margin-top: 0.75rem;
                        margin-bottom: 1.5rem;
                    }

                    .card-title {
                        font-weight: 600;
                        font-size:1em;
                        margin-bottom: -0.5rem;
                        padding-left: 0;
                    }

                    .card-price {
                        font-size: 0.9em;
                        color: gray;
                        padding-left: 0;
                    }

                    a {
                        border: 1px solid black;
                        margin-top: auto;
                        margin-bottom: 1rem;
                        text-align: center;
                        display: block;
                        padding: 8px 50px;
                        color: black;
                        text-decoration: none;
                        font-weight: 600;
                        border-radius: 3px;
                        font-size: 0.9em;
                    }

                    a:hover {
                        background-color: black;
                        color: var(--gold-color);
                    }
                }
            }

            .card:hover {
                border-color: black;
                transform: scale(1.02, 1.02);
                transition: transform 0.07s;

                .decor-banner {
                    background-color: var(--gold-color);
                }
            }
        }
    }

    .why-comp3612 {
        background-color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 2px solid var(--border-divider-color);


        h1 {
            margin-bottom: 1rem;
        }

        p {
            width: 56%;
            font-size: 0.9rem;
            color: gray;
        }

    }   
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    background-color: var(--header-footer-bg);
    color: var(--light-text-color);
    padding: 3rem 2rem 0rem 2rem;
    font-family: sans-serif;

    hr {
        /* This was from https://stackoverflow.com/questions/44401674/how-to-create-a-css-grid-layout-box-that-spans-2-columns-and-2-rows 
        and https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid-column 
        which shows grid-column: 1/3 (indicating span from grid column line
        1 to 3, so I replicated that after looking up the grid-column: property 
        on Mozilla docs and learning about negative values */
        grid-column: 1 / -1;
        width: 100%;
        border-color: var(--light-text-color);
        text-align: center;
    }

    .footer-div {
        color: white;
        margin-bottom: 2em;
    }

    .p-title {
        font-weight: bold;
    }

    #copyright {
        font-size: 0.9em;
    }

    ul {
        padding-left: 0;
        margin-left: 0;
    }

    li {
        color: var(--footer-list-color);
        margin-bottom: 1em;
    }

    a {
        color: var(--footer-list-color);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}