html {
    scrollbar-width: none;
    display: table;
    margin: auto;
}

body {
    background-color: #f9f9f9;
    margin: 0em 4em 0em 4em;
    font-family: "Open Sans";
    font-size: 0.9rem;
}

article {
    background-color: #ffffff;
    width: 100%;
    margin: auto;
}

article p {
    font-size: 1rem;
}

h1, blockquote {
    font-family: "Roboto Slab";
    font-size: 2rem;
    text-align: center;
}

h1 {
    color: #9f2042;
    margin-bottom: 0rem;
}

blockquote {
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.25rem;
    background-color: #f9f9f9;
    border: 1px solid #ececec;
    padding: 1em;
}

p {
    width: 95%;
    margin: auto;
}

a {
    color: #ec8295;
    text-decoration: none;
}

footer {
    background-color: #29293a;
    padding-top: 2em;
    padding-bottom: 1em;
}

footer p {
    color: #ffffff;
    margin-bottom: 1em;
    font-size: 0.9rem;
}

a:hover {
    background-color: #a9a9ba;
    color: #9f2042;
}

.hero {
    display: block;
    width: 100%;
    margin: auto;
}

#details {
    text-align: center;
    font-size: 1.25rem;
    color: #a9a9ba;
    margin-bottom: 1em;
}

#buttons a{
    border: 1px solid #ececec;
    padding: 15px;
    border-radius: 5px;
}

#buttons {
    width: 95%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}